<ion-header>
  <ion-toolbar>
    <ion-title>Expense</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="close()">
        cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-list>
    <ion-item class="ion-margin-top">
        <ion-label position="floating">Spent for</ion-label>
        <ion-input type="text" [(ngModel)]="spentFor"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-top">
        <ion-label position="floating">Amount</ion-label>
        <ion-input type="number" [(ngModel)]="amount"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Mode of payment</ion-label>
        <ion-select okText="ok" cancelText="cancel" [(ngModel)]="paymentMode" interface="action-sheet">
          <ion-select-option value="Cash">Cash</ion-select-option>
          <ion-select-option value="Credit Card">Credit Card</ion-select-option>
          <ion-select-option value="Debit Card">Debit card</ion-select-option>
        </ion-select>
      </ion-item>
    <ion-button margin (click)="submitExpense()" [disabled]="!(spentFor && amount && paymentMode)">
        <ion-icon slot="end" name="checkmark"></ion-icon>
        Submit
      </ion-button>
    </ion-list>
</div>
</ion-content>
