<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Expense Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" fill="solid" color="primary" (click)="createNewExpense()">Create New Expense</ion-button>
  
  <div *ngIf="allExpenses">
    <ion-list *ngFor="let expense of allExpenses.listItems" margin>
      <ion-item-sliding>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteThisExpense(expense)" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item detail (click)="editExistingExpense(expense)">
          <ion-label>
            <h4>{{expense.expenseName}}</h4>
            <h1>Spent {{expense.totalExpenses}} &euro;</h1>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>