<ion-header color="secondary">
  <ion-toolbar color="secondary">
    <ion-title>
      Personal Tool
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
  <ion-card (click)="launchModule('expense');" style="margin-bottom: 25px;">
    <img src="../../assets/images/expense.jpg" />
    <ion-card-header>
      <ion-card-title>Expense Tracker</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Track all your expenses all day long
    </ion-card-content>
  </ion-card>
  <ion-card (click)="launchModule('checkList');">
    <img src="../../assets/images/checlist.png" />
    <ion-card-header>
      <ion-card-title>Check List</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Create your your personal check list so you don't forget!
    </ion-card-content>
  </ion-card>
</ion-content>