<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/expenses"></ion-back-button>
    </ion-buttons>
    <ion-title>new expense</ion-title>

    <!-- <ion-buttons slot="primary">
      <div class="income-btn">
          <ion-chip color="dark" outline="true">
              <ion-label 
              color="dark"
              (click)="showIncomeField()">{{incomebtnText}}</ion-label>
            </ion-chip>
        </div>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-item *ngIf="displayIncomeField">
        <ion-label>Your income</ion-label>
        <ion-input 
        class="incomeInputField"
         autofocus
         placeholder="Enter Income" 
         type="number" 
         [(ngModel)]="incomeValue"></ion-input> &euro;
        <ion-button 
          class="ion-margin-start" 
          color="primary" 
          size="big" 
          fill="solid"  
          expand="block" 
          [disabled]="!incomeValue" 
          (click)="addIncomeToExpense(incomeValue)">Add</ion-button>
      </ion-item>
    
      <div *ngIf="incomeIndicator">
        <h2 margin>
          Income {{incomeValue}} &euro;
        </h2>
      </div> -->
  <ion-button color="light" class="ion-margin-vertical" (click)="addNewExpense()" [disabled]="showEdit">
    Create Expenses
    <ion-icon name="add" color="primary"></ion-icon>
  </ion-button>
  <div>
    <ion-item class="ion-margin-top">
      <ion-input placeholder="expense name" type="text" [(ngModel)]="expenseName"></ion-input>
    </ion-item>
  </div>
  <div *ngIf="expensesCache">
    
        <ion-card *ngFor="let expense of expensesCache.expenses;let i = index" [disabled]="showEdit">
            <ion-list>
                <ion-item-sliding >
                  <ion-item-options side="end">
                    <ion-item-option (click)="deleteThisItem(i)" color="danger">
                      <ion-icon name="trash"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
          <ion-item (click)="editThisExpense(expense,i)" detail>
            <ion-icon name="{{expense.type}}" slot="start"></ion-icon>
            <ion-label>{{expense.spentFor}}</ion-label>
            <ion-label>{{expense.amount}} &euro;</ion-label>
            <ion-card-content style="padding: 20px 2px 20px 0">
                <ion-card-subtitle>{{expense.modeOfPayment}}</ion-card-subtitle>
              </ion-card-content>
          </ion-item>
      </ion-item-sliding>
    </ion-list>

    </ion-card>
  </div>
  <ion-item>
    <h2>Total expense : {{totalexpense}} &euro;</h2>
  </ion-item>

  <p padding *ngIf="expensesCache.expenses.length === 0"><em disabled> no expenses found, create one </em> </p>

</ion-content>

<ion-button *ngIf="showEdit" expand="full" margin (click)="edit()">
  Edit <ion-icon slot="primary" name="create"></ion-icon>
</ion-button>

<div *ngIf="enabledToEdit">
  <ion-button expand="full" margin (click)="save()" [disabled]="expensesCache.expenses.length === 0">
    Save All
  </ion-button>
  <ion-button color="danger" expand="full" margin (click)="clearAll()">
    Clear All
  </ion-button>
</div>